.page {
/*Переделаем наш макет из статичного в резиновый и адаптивный. Сейчас наша страница вся определена 
в абсолютных величинах. Первый шаг — заменим жёстко заданную ширину всей страницы (селектор .page в CSS)
на тянущуюся, но ограниченную. Заменим свойство width для этого селектора на max-width со значением 1440px:*/
max-width: 1440px;
/*background-color: black;*/
margin: 0 auto;
font-family: 'Inter', Arial;
/*Добавьте для всей страницы сглаживание шрифтов в Firefox и браузерах на движке Webkit
   (Яндекс.Браузер, Google Chrome, Opera,  Safari), добавив свойства:*/
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   /*Запишите в селектор .page правила для масштабирования шрифтов
   т.е. подгонка размера текста (англ. text size adjust):*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /*Значение optimizeLegibility (от англ. optimize legibility, в значении «оптимизировать читаемость») говорит 
    браузеру, что кёрнинг и лигатуры должны быть отрисованы. */
    text-rendering: optimizeLegibility;
}