@import url("./vendor/normalize.css");
@import url("./fonts/inter.css");


/* *,*::before,*::after {outline: 1px solid black}*/
/*все элементы на странице будут иметь красную обводку. - КРУТО!*/


.page {
  
    /*Переделаем наш макет из статичного в резиновый и адаптивный. Сейчас наша страница вся определена 
    в абсолютных величинах. Первый шаг — заменим жёстко заданную ширину всей страницы (селектор .page в CSS)
    на тянущуюся, но ограниченную. Заменим свойство width для этого селектора на max-width со значением 1280px:*/
    width: 100%;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    /*Добавьте для всей страницы сглаживание шрифтов в Firefox и браузерах на движке Webkit
       (Яндекс.Браузер, Google Chrome, Opera,  Safari), добавив свойства:*/
       -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased;
       /*Запишите в селектор .page правила для масштабирования шрифтов
       т.е. подгонка размера текста (англ. text size adjust):*/
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      /*Значение optimizeLegibility (от англ. optimize legibility, в значении «оптимизировать читаемость») говорит 
        браузеру, что кёрнинг и лигатуры должны быть отрисованы. */
        text-rendering: optimizeLegibility;
        background: #2A2C2F;     
        color: #fff;   
    }

    .header {              
        max-width: 1184px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;        
        padding: 28px 48px 56px 48px;           
    }
   

    @media (min-width: 1280px) {
      /* мой CSS */   
  }
  
  
  @media (min-width: 1024px) and (max-width: 1279px) {
    
    .header {              
        padding-bottom: 48px;            
    }    
  }
 
  
  @media (min-width: 768px) and (max-width: 1023px) {
    
    .header {              
        padding-left: 24px;
        padding-right: 24px;         
    }    
  }
  
   
  @media (min-width: 320px) and (max-width: 767px) {
    .header {              
      padding: 16px 16px 48px 16px;        
  }  
}


    .header__logo {
        width: 176px;
        height: 52px;        
    }
    @media (min-width: 320px) and (max-width: 767px) {
      .header__logo {
        width: 142px;
        height: 42px;        
    }
  }
    
  .header__lang-links{  
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;        
}


    .header__lang-link {          
    margin: 0 0 0 18px;
    padding: 0;    
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.17; /*28px;*/    
    color: #FFFFFF;/*здесь изменение цвет ссылок на белый нужно) */    
    text-decoration: none;
    /*margin-right: 18px;*/
    opacity: 1;
    transition: opacity .5s ease;
    }

@media (min-width: 320px) and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11; /*20px;*/
}
}

.header__lang-link:hover {
  opacity: 0.3;
}

.header__lang-link_active {
  text-decoration: underline;
}




.lead {
max-width: 984px;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 92px;
margin: 0 auto;
box-sizing: border-box; /*border-box говорит браузеру учитывать любые границы и внутренние отступы в значениях,
                          которые вы указываете в ширине и высоте элемента. */
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .lead {
  max-width: 928px;
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  .lead {
    max-width: 768px;
    /*max-width: 768px;*/ /* потом закоментил для плавности при сужении экрана с 1024 на 1023,
                         т.е. чтобы не было резкого скачка ширины с 984 сразу на 768рх, 
                         а потом 30/11 снова раскоментил для соотв с pixel*/
    padding-bottom: 88px;
  }
}


@media (min-width: 320px) and (max-width: 767px) { 
  .lead {
    /*max-width: 320px;*/ /*закоментил для плавностипри сужении экрана с 768 на 767,
                         т.е. чтобы не было резкого скачка ширины с 768 сразу на 320рх*/

    padding-bottom: 64px;
  }

}


.lead__title {    
max-width: 720px;
margin: 0 0 32px 0;
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 1.04; /*100px; or 104% */
text-align: center;
}


@media (min-width: 320px) and (max-width: 767px) { 
  .lead__title { 
    margin: 0 0 16px 0;
    font-size: 40px;
    line-height: 1.1;
  }

}


.lead__subtitle {
max-width: 640px;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 1.2;
text-align: center;
margin: 0 0 64px 0;
}


@media (min-width: 768px) and (max-width: 1279px) { /*сделал 2ой- mix @media на 2 диапазона)*/
  .lead__subtitle {
  margin: 0 0 56px 0;
}
}


@media (min-width: 320px) and (max-width: 767px) { 
  .lead__subtitle {
    margin: 0 0 40px 0;
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
  } 
}

.lead__image {
width: 100%;
}

.lead__caption { 
margin: 8px 0 0 0;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 1.4; /*14px;*/
letter-spacing: 0.15em;
text-transform: uppercase;
/*color: #FFFFFF;*/
align-self: start;
}


@media (min-width: 1024px) and (max-width: 1279px) {
 
}

@media (min-width: 768px) and (max-width: 1023px) {
  .lead__caption { 
  margin-left: 24px;
}
}

@media (min-width: 320px) and (max-width: 767px) { 
  .lead__caption { 
    margin-left: 16px;
  }
}


.intro {
  background-color: #2A2C2F;
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 92px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    padding: 0 48px 92px 48px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .intro {
    padding: 0 24px 88px 24px;    
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 0 16px 64px 16px;
  }
}


.intro__title {
margin: 0;
max-width: 690px;
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 58px; /*1.07; /*58px;*/

}


@media (min-width: 768px) and (max-width: 1023px) {
  .intro__title {
    max-width: 720px;  
  }
}



@media (min-width: 320px) and (max-width: 767px) { 
  .intro__title {
    max-width: 690px;
  font-size: 32px;
line-height: 1.09;
  }
}


.intro__text {
max-width: 690px;
margin: 0;

font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.64; /* or 26px */
padding: 40px 0 33px 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .intro__text {
    max-width: 720px;  
  }
}

.intro__list {
max-width: 690px;
margin: 0;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 1.5; /*18px; /* or 150% */
}

@media (min-width: 768px) and (max-width: 1023px) {
  .intro__list {
    max-width: 720px;  
  }
}

.intro__list_digit {
  font-weight: normal;
}




.photo-grid {
max-width: 1184px;
margin: 0 auto;
padding: 0 48px 52px 48px;
/*padding-bottom: 52px;*/
/*margin: 0;  /*добавил,т.к. тег li добавляет для списков свои отступы!*/
/*padding: 0; /*добавил,т.к. тег li добавляет для списков свои отступы!*/
/* list-style: none; /*чтобы скрыть маркер списка li*/
 display: grid;  
 grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
 gap: 16px; /*48/3=16px*/

}

@media (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    /*max-width: 928px;*/
    padding: 0 48px 52px 48px;
    gap: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    /*max-width: 720px;*/
    padding: 0 24px 48px 24px;
    gap: 16px;}
  }


@media (min-width: 320px) and (max-width: 767px) { 
  .photo-grid {
    /*max-width: 720px;*/
    padding: 0 16px 40px 16px;        
    gap: 12px;
     }
}


.photo-grid__item {  
max-width: 100%; /*284px; - заменил для плавного изменения ширины картинки*/
/*height: 213px;*/
}



.places {
/*width: 100%;*/
max-width: 984px;
/*height: 3392px;*/
margin: 0 auto;
padding-bottom: 52px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .places {
    max-width: 928px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .places {
    max-width: 720px;
    padding-bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) { 
  .places {
  max-width: 320px;
  padding-bottom: 0; /*26px;*/
  }
}




.place {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 460px fit-content(484px); /*460px 1fr;*/
    grid-template-rows: 1fr;
    grid-gap: 48px 40px;
  }
  

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px fit-content(456px) ; /*было 440px 1fr*/
    grid-gap: 48px 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {    
    grid-template-columns: 340px fit-content(352px); /*340px 1fr;*/
    grid-gap: 44px 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    padding: 33px 0;
    grid-template-columns: minmax(288px, 1fr);
    grid-gap: 32px;
  }
}


.place__title {  
margin: 0;  
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 1.06; /* лучше указать 1.06, чтобы при измен высоты шрифта не дублиировать изменение интерльяжа /* 76px; or 106% */
/*color: #FFFFFF; - здесь дублир цвета не нужно)*/
}

@media (min-width: 1024px) and (max-width: 1279px) {
 
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place__title {  
    font-size: 42px;
    line-height: 1.1; 
    max-width: 330px;
    }
}

@media (min-width: 320px) and (max-width: 767px) { 
  .place__title {  
    font-size: 32px;
    line-height: 1.09; 
    padding-left: 16px;
    }
}




.place__image {
  width: 100%;
  /*min-width: 460px;*/
/*width: 460px;
height: 460px;*/
margin: 0;
}

.place__website {
align-self: end;
/*display: none; - для разрешения ниже 767*/
}
@media (min-width: 320px) and (max-width: 767px) { 
  .place__website {    
    display: none; /*visibility: hidden; = убрать отображение - для разрешения ниже 767 или display: none; */
    }
}



.place__link {
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1.22; /* 22px identical to box height, or 122% */
text-decoration-line: underline;
color: #FFFFFF; /*здесь цвет link ссылки нужен!*/
transition: opacity .2s linear;
}

.place__link:hover {
  opacity: .8;
}


.place__url-heading {
/*width: 456px;*/
/*font-family: Inter;*/
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 1; /*12px; identical to box height, or 100% */
letter-spacing: 0.2em;
color: #AAAAAA; /*здесь цвет URL нужен!*/
margin: 0 0 12px 0;

} 



.place__paragraph {
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1.63; /* or 29px */
margin: 0;
}
.place__paragraph:first-child {
  padding-bottom: 28px;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .place__paragraph {    
    font-size: 16px;    
  }  
}

@media (min-width: 320px) and (max-width: 767px) {
  .place__paragraph {    
    font-size: 16px;
    padding: 0 16px 0 16px;
  }  
}




.cover{
  position: relative; /* из вебинара от 26 ноября @Георгия Девяткина Респонсив и адаптив*/
  max-width: 1280px;
  margin:0 auto;
  background-image: url(./images/cover-trains-tiny.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;  
  box-sizing: border-box;
  padding: 245px 0;
  transition: opacity ease-in;
}

.cover::before{
  content:'';
  position: absolute;
  background-color: #2A2C2F;
  opacity:0.3;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;

}
.cover:hover::before{
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width:1280px){
  .cover{
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width:1024px){
  .cover{
    margin-left: 0;
    margin-right: 0;
    padding: 195px 0;
  }
}

@media screen and (max-width: 768px){
  .cover{
    /*margin: 0 0 88px;*/
    padding: 140px 0;
  }
}

@media screen and (max-width:320px){
  .cover{
    margin: 30px 0 64px;
    padding: 33px 0;
  }
}

.cover__overlay-link {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.cover__title{
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
  margin:auto;
  max-width: 560px;
  position: relative;
}

@media screen and (max-width: 769px){
  .cover__title{
    font-size:calc(32px + (72 - 32) *(100vw - 320px)/( 768 - 320));
    max-width:calc(250px + (560 - 250) *(100vw - 320px)/( 768 - 320)) ;
  }
}


.cover__subtitle{
  position: relative;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  margin:38px auto 0;
  max-width: 380px;  
}

@media screen and (max-width: 768px){
  .cover__subtitle{
    margin-top: 32px;
  }
}

@media screen and (max-width:320px){
  .cover__subtitle{
    font-size: 14px;
    line-height: 1.14; /*16px*/
    margin-top:16px;
    max-width: 288px;
  }
}



  
/*margin: 0 auto;*/

.footer {
display: flex;
justify-content: space-between;
align-items: flex-end;
min-height: 110px;
/*margin: 0 auto;*/
/*width: 95%;*/
max-width: 1280px;
padding-bottom: 24px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .footer {
  /*max-width: 928px;   
  padding-left: 48px;
  padding-right: 48px;*/
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    /*max-width: 720px;*/
    /*padding-left: 24px;
    padding-right: 24px;*/
    min-height: 90px;  
    }
}

@media (min-width: 320px) and (max-width: 767px) { 
  .footer {  
    flex-direction: column;
    align-items: flex-start;
}
}

.footer_margins {
  margin: 0 48px;
} 

@media (min-width: 768px) and (max-width: 1023px) {
  .footer_margins {    
    margin: 0 24px;
    }
}

@media (min-width: 320px) and (max-width: 767px) { 
  .footer_margins {
  margin: 16px 0 0 16px;
}
}

.footer__links {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 767px) { 
  .footer__links {
  flex-direction: column;
  align-items: flex-start;
}
}

.footer__link {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px; /* identical to box height, or 112% */
color: #FFFFFF; /*color: white;*/
text-decoration: none;
opacity: 1;
transition: opacity .5s ease;
margin: 0 18px 0 0;
/*margin-right: 18px;*/
}

.footer__link:hover {
opacity: .5;
}

@media (min-width: 320px) and (max-width: 767px) { 
  .footer__link  {
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 1;
}
.footer__link:last-child  {
  margin-bottom: 48px;
}
}

.footer__copyright {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.14; /*16px; /* identical to box height, or 114% */
text-align: right;
color: #FFFFFF;
margin: 0;
}

@media (min-width: 320px) and (max-width: 767px) { 
  .footer__copyright {
    line-height: 1;
}
}