.intro__list {
    /*Для улучшения семантики перечисляемые блоки можно выделить в список ul. 
    Обратите внимание, что у списков следует убрать стандартные стили: 
    margin, padding, list-style-type - Ревьюер Владимир Шевченко 04/12*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 690px;    
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    /*18px; /* or 150% */
}

@media (min-width: 768px) and (max-width: 1023px) {
    .intro__list {
        max-width: 720px;
    }
}
