.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1184px;
  /*max-height: 740px; закоментил тк Текстовым элементам не хорошо ограничивать высоту. 
 В случае, если элемент, содержащий, например, текстовый контент ограничить по высоте - теряется масштабируемость.
 При редактировании (Добавлении/удалении символов) - нарушается визуальное отображение верстки, она начинает "ломаться".
 Старайтесь избегать фиксированных значений для height;
Если же вам все же нужно указать высоту, то воспользуйтесь адаптивным свойством, таким как min-height.
Когда контента станет больше, чем может вместить блок с указанной высотой, то он просто будет увеличивается и подстраиваться под новое количество контента.
В противоположность этому с height или max-height такого не происходит, это жестко заданное свойство, которое не будет меняться. 
https://developer.mozilla.org/ru/docs/Web/CSS/min-height - ревью №2, Владимир Шевченко*/
  box-sizing: border-box; /*border-box говорит браузеру учитывать любые границы и внутренние отступы в значениях,
                           которые вы указываете в ширине и высоте элемента*/
}
/*padding-top: 16px; - убрал после рекомендации ревьюера - размеры и фон нужно соотнести к cover__overlay-link,*/
/*color: #ffffff;*/

@media screen and (min-width: 769px) {
  .cover {
    padding-top: 51px; /* для отступа cover от верхнего блока 92-41=51*/
  }
}


@media screen and (min-width: 450px) and (max-width: 768px) {
  .cover {
    padding-top: 22px; /* для отступа cover от верхнего блока 90-41=49, и уменьшил до 22 после PixelPerfect*/
  }
}
   

@media screen and (min-width: 320px) and (max-width:449px) {
  .cover {
    padding-top: 11px; /* для отступа cover от верхнего блока 90-41=49, и уменьшил до 22 после PixelPerfect*/
  }
}
    /*В блоке cover может быть не один элемент cover__overlay-link.
    А это значит, что размеры и фон нужно соотнести к cover__overlay-link, пусть размер блока cover зависит от контента в данном случае от наших ссылок. 
    Поэтому лучшим решением будет указать свойства для самой ссылки. 
    Ни каких абсолютов и отступов для центровки контента внутри ссылки, только возможности флекса.*/
    /*Владимир Шевченко, ревьюер, 04/12*/
    /*max-width: 1280px; 
      margin: 0 auto;
    background-image: url(../../images/cover-trains-tiny.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/    
    /*transition: opacity ease-in-out;*/



/*
.cover::before {
    content: '';
    position: absolute;
    background-color: #2A2C2F;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cover:hover::before {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (min-width:1280px) {
    .cover {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:1024px) {
    .cover {
        margin-left: 0;
        margin-right: 0;
        padding: 195px 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        
        padding: 140px 0;
    }
}

@media screen and (max-width:320px) {
    .cover {
        margin: 30px 0 64px;
        padding: 33px 0;
    }
}*/