
.place {    
    padding: 41px 0; /*изменил 40px 0 на 41px 0 - 05/12 сверив c PerfectPixel*/
    display: grid;
    grid-template-columns: 460px fit-content(484px);
    /*460px 1fr;*/
    grid-template-rows: 1fr;
    grid-gap: 48px 40px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px fit-content(456px);
        /*было 440px 1fr*/
        grid-gap: 48px 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px fit-content(352px);
        /*340px 1fr;*/
        grid-gap: 44px 28px;
    }
}

@media screen and (max-width: 767px) {
    .place {      
      padding: 34px 0;
      grid-template-columns: minmax(288px, 1fr);
      grid-gap: 32px;
    }
  }