.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 110px;
    max-width: 1280px;
    padding-bottom: 24px;
    margin: 0 auto; /*48px;*/
    padding: 0 48px 24px 48px;
}


@media (min-width: 768px) and (max-width: 1023px) {
    .footer {        
        min-height: 105px;
        /*margin: 0 24px; исправил на: */
        padding: 0 24px 24px 24px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 64px 0 24px 16px;
        /*padding: 16px 0 24px 16px;*/
    }
}
